<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Teacher Add</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!--thymeleaf css-->
    <link rel="stylesheet" th:href="@{/css/style2.css}">

    <!--thymeleaf js-->
    <script th:src="@{/js/template2.js}"></script>
</head>
<body class="container">
<!--th:object: key
th:action: @GetMapping-->
<p class="text-center text-primary display-4 text-uppercase" th:text="#{form}"></p>
<a th:text="#{add}" th:href="@{/create/teacher}" class="bg-dark  btn btn-primary btn-sm mb-3"></a>
<a th:text="#{list}" th:href="@{/list/teacher}" class="bg-dark  btn btn-primary btn-sm mb-3"></a>

<form th:method="post" th:object="${key_teacher}" th:action="@{/create/teacher}">
    <ul>
        <li th:each="error:${#fields.errors('all')}" th:text="${error}"></li>
    </ul>
    <p>ID</p>
    <input class="form-control" type="text" id="teacherId" disabled="disabled" th:field="*{teacherId}"/><br/>
    <p>NAME</p>
    <input class="form-control" type="text" id="teacherName" th:field="*{teacherName}"/><br/>
    <span th:if="${#fields.hasErrors('teacherName')}" th:errors="*{teacherName}"></span>
    <p>TRADE</p>
    <input class="form-control" type="text" id="productTrade" th:field="*{teacherPrice}"/><br/>
    <span th:if="${#fields.hasErrors('teacherPrice')}" th:errors="*{teacherPrice}"></span>
    <input class="btn btn-primary" type="submit"/>
    <input class="btn btn-danger" type="reset"/><br/>
</form>

<!--end codes-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>