<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/js/index1.js}"></script>
    <link rel="stylesheet" th:href="@{/css/style1.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link>
</head>
<body>
<p th:text="#{adi}"></p>
sonuc:  <b><label th:text="${key_message}"></label></b> </br>

<!--th:object: key
th:action: @GetMapping
teacherId
teacherName
teacherPrice
date-->

<p th:text="${silindi}" class="display-4"></p>
<p th:text="${eklendi}" class="display-4"></p>

<a th:text="#{add}" th:href="@{/create/teacher}"  class="btn btn-primary btn-sm mb-3"></a>

<table  class = "table  table-dark table-striped table-responsive-md">
    <thead  class="thead-dark">
    <tr>
        <th>teacherId</th>
        <th>teacherName</th>
        <th>teacherPrice</th>
        <th>date</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="alias:${key_teacher_list}">
        <td th:text="${alias.getTeacherId()}"></td>
        <td th:text="${alias.getTeacherName()}"></td>
        <td th:text="${alias.getTeacherPrice()}"></td>
        <td th:text="${alias.getDate()}"></td>
        <td> <a th:text="#{update}" th:href="@{/create/teacher/{id}(id=${alias.getTeacherId()})}"
                class="btn btn-primary">Update</a> </td>
        <td>  <a th:text="#{delete}" th:href="@{/delete/teacher/{id}(id=${alias.getTeacherId()})}"
               class="btn btn-danger"></a></td>
    </tr>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"/>
</body>
</html>